<div class="lg:pt-10 pt-3 flex flex-col gap-10 w-full">
  @for (section of sections; track section.title) {
    <div class="drop-shadow-xl flex flex-col gap-2">
      <div class="font-bold">{{ section.title }}</div>
      @if (section.isList) {
        <ng-container [ngTemplateOutlet]="listItems" [ngTemplateOutletContext]="{$implicit: getListItems(section)}"></ng-container>
      } @else {
        <div [innerHTML]="formatSectionContent(section)"></div>
      }
    </div>
  }
</div>

<ng-template #listItems let-items>
  <ul class="list-disc pl-5">
    @for (item of items || []; track $index) {
      <li>
        <span [innerHTML]="formatListItem(item.content, item)"></span>
        @if (item.children?.length) {
          <ng-container [ngTemplateOutlet]="listItems" [ngTemplateOutletContext]="{$implicit: item.children}"></ng-container>
        }
      </li>
    }
  </ul>
</ng-template>
