<!--<div class="h-full w-full bg-black absolute inset-0 -z-10 opacity-10">-->
<!--  <img src="images/background.jpeg" class="absolute inset-0 object-cover h-full w-full">-->
<!--  <div class="bg-gradient-to-r from-[#000000B0] to-transparent w-full h-full absolute inset-0"></div>-->
<!--</div>-->


<!--<div-->
<!--  style="user-select: none;"-->
<!--  class="absolute -z-10 inset-0 w-full h-full text-[#00a000] opacity-30 flex flex-col-reverse overflow-hidden "-->
<!--  #textContainer>-->
<!--  <pre>{{ displayText() }}</pre>-->
<!--</div>-->

<div class="font-thin flex flex-col justify-center items-center lg:p-10 p-3 text-slate-300 gap-5 w-full">
  <div class="w-5/6 lg:w-2/3 lg:max-w-[900px] flex flex-col gap-10">

    <div class="flex flex-col lg:flex-row gap-10 w-full items-center justify-center">
<!--      <div class="rounded-full my-auto w-56 aspect-square border-4 overflow-hidden border-blue-800">-->
<!--        <img src="images/me.jpeg" class="object-cover ">-->
<!--      </div>-->
      <div class="text-4xl font-bold flex flex-col items-center justify-center gap-2">
        <span class="text-center">
        Hey, I'm Raffaello Fornasiere

        </span>
        <div class="text-2xl font-bold">Software Engineer | AI/ML</div>
        <div class="flex gap-4 items-center">
          <a href="https://github.com/RaffaelloFornasiere">
            <img src="https://s.magecdn.com/social/mw-github.svg" width="32" alt="">
          </a>
          <a href="https://www.linkedin.com/in/raffaello-fornasiere">
            <img src="https://s.magecdn.com/social/mw-linkedin.svg" width="32" alt="">
          </a>
          <a href="mailto:fornasiere.raffaello@gmail.com">
            <img src="https://s.magecdn.com/social/mw-mail.svg" width="32" alt="">
          </a>
        </div>
        <a class="text-sm font-light" href="docs/raffaello_fornasiere_resume.pdf">resume</a>

      </div>

    </div>

    <div class="drop-shadow-xl ">
      <div class="font-bold">
        About Me
      </div>

      I'm Raffaello Fornasiere, a software engineer and I enjoy building practical and efficient solutions. My work spans
      front-end development, backend integration, and LLM applications, always with a focus on making things work
      smoothly.
      <br>
      During my studies, I explored <a class="font-medium text-slate-300" href="https://aclanthology.org/2024.icnlsp-1.47/">LLMs for processing medical data</a>, and the system I worked on was
      even tested in Italian hospitals. These days, I mostly focus on front-end development, but I like also to work across
      the stack when needed.
      <br>
      Outside of work, I stay curious about AI and automation, always tinkering with new ideas and projects.

    </div>
    <div class="drop-shadow-xl flex flex-col gap-2">
      <div class="font-bold">
        Project Demos
      </div>
      <ul class="list-disc pl-5">
        @for (project of projects; track project.name) {
          <li>
            <a [href]="project.link"><span class="font-bold">{{ project.label }}</span></a>
            – {{ project.description }}
          </li>
        }

      </ul>
    </div>

    <div class="drop-shadow-xl flex flex-col gap-2 w-full">
      <div class="font-bold">
        Technologies I'm confident with
      </div>
      <code class="flex flex-wrap text-sm gap-3">

        @for (skill of skills; track skill.name) {
          <div class="flex gap-3 w-36">
            >
            <div class=" justify-between">
              <span>{{ skill.name }}</span>

              <div class="">
                @for (level of Array(skill.level).keys(); track $index) {
                  <span class="text-green-600">&#x25AE;</span>
                }
                @for (level of Array(7 - skill.level).keys(); track $index) {
                  <span>&#x25AF;</span>
                }
              </div>
            </div>
          </div>

        }
      </code>
    </div>

    <div class="drop-shadow-xl">
      <div class="font-bold">
        Technologies I'm Learning
      </div>
      <code class="flex flex-wrap text-sm gap-3">

        @for (skill of learning; track skill.name) {
          <div class="flex gap-3 w-36">
            >
            <div class=" justify-between">
              <span>{{ skill.name }}</span>

              <div class="">
                @for (level of Array(skill.level).keys(); track $index) {
                  <span class="text-green-600">&#x25AE;</span>
                }
                @for (level of Array(7 - skill.level).keys(); track $index) {
                  <span>&#x25AF;</span>
                }
              </div>
            </div>
          </div>
        }
      </code>
    </div>


  </div>
</div>
